

.navbar-sec{
    width: 85px; 
    /* border-top: 3px solid #F5F9FA ; */
    background-color:#F5F9FA  ;
    
    
}
.navbar-1{
    margin-top:1px;
    background-color:white ;
     border-top-left-radius: 10px; 
     height: 100%; 

}
.navbar-a{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navbar-a img{
    margin: 10px 0px;
    width: 45px;
}
.navbar-b .icon-1{
    background-color:#F5F9FA ;
    border-radius: 50%;
    padding: 10px;
    font-size: 45px;
    margin: 10px 0px;
    color: red;
    cursor: pointer;
}